{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
        <h1 class="h3 mb-3 font-weight-normal">My profile</h1>
        <div class="row">
            <div class="col-sm">
                <img src="{{ user.avatar(128) }}" alt="avatar image">
            </div>
            <div class="col-sm">
                User: {{ user.username }}<br>
                {% if user.last_seen %}
                    Last seen on: {{ moment(user.last_seen).format('LLL') }}<br>{% endif %}
                <br>
                <h4 class="h4 mb-3 font-weight-normal">Strava Integration</h4>
                <form action="{{ url_for('auth.update_strava_integration') }}" method="post" novalidate>
                    {{ strava_form.hidden_tag() }}
                    <div class="form-group">
                        {{ wtf.form_field(strava_form.is_integrated, class="form-control") }}
                    </div>
                    <button id="changes" class="btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
                </form>
            </div>
        </div>
{% endblock %}