{% from "macros.html" import add_disqus with context %}
{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-8 mx-auto">
            <h4 class="h4 mb-3 font-weight-normal">Be inspired</h4>
            <p>This is what our community says about this workout.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h5 class="h5 mb-3 font-weight-normal"><i class="{{ icons[inspiration.workout_type] }}"
                                                      aria-hidden=true></i>&nbsp;{{ inspiration.title }}
                lasts {{ inspiration.duration }} mins.
                {% if inspiration.instructor %}
                    &nbsp;with
                    instructor {{ inspiration.instructor }}
                {% endif %}
            </h5>
        </div>
    </div>
    {% if inspiration.meta_og_image %}
        <div class="row justify-content-center">
            <div class="col-md-2 bg-light">
                <img src="{{ inspiration.meta_og_image }}" alt="Meta image" width="100px">
            </div>
            <div class="col-md-6 bg-light">
                <p>{{ inspiration.meta_og_description }}</p>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 mx-auto">
            <p>And what does our community say?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <blockquote><p class="mb-0">{{ inspiration.description }}</p>
                <footer class="blockquote-footer">Check it out at <a href="{{ inspiration.url }}"
                                                                     target="_blank">{{ inspiration.url }}</a></footer>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            Why does it inspire?
            {{ inspiration.why_loved }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            {% if inspiration.user_id == current_user.id %}
                <a id="edit_inspiration_link"
                   href="{{ url_for('inspires.edit_inspiration',inspiration_id=inspiration.id) }}"><i
                        class="fas fa-edit" aria-hidden="true"></i></a>
                &nbsp;&nbsp;&nbsp;
                <a id="delete_inspiration_link"
                   href="{{ url_for('inspires.delete_inspiration',inspiration_id=inspiration.id) }}"><i
                        class="fas fa-trash" aria-hidden="true"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div id="disqus_thread"></div>
            {%- set disqus_identifier -%}
            {{ "{}_{}".format('inspires', inspiration.id) }}
            {%- endset -%}
            {%- set disqus_title -%}
            {{ "{} a {}-{}".format('be inspired by ', activity_map[inspiration.workout_type], inspiration.title) }}
            {%- endset -%}
            {% set disqus_url | get_os_env('DISQUS_URL') %}
            {% endset %}
            {{ add_disqus(disqus_identifier, disqus_title, disqus_url) }}
        </div>
    </div>
{% endblock %}
