{% import "bootstrap/wtf.html" as wtf %}
<form action="{{ form_url }}" method="post" name="exercise" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ wtf.form_field(form.activity_type, class="form-control") }}
        {% for error in form.activity_type.errors %}
            <small class="form-text text-muted">[{{ error }}]</small>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ wtf.form_field(form.title, class="form-control") }}
        {% for error in form.title.errors %}
            <small class="form-text text-muted">[{{ error }}]</small>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ wtf.form_field(form.description, class="form-control") }}
        {% for error in form.description.errors %}
            <small class="form-text text-muted">[{{ error }}]</small>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ wtf.form_field(form.duration, class="form-control") }}
        {% for error in form.duration.errors %}
            <small class="form-text text-muted">[{{ error }}]</small>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ wtf.form_field(form.distance, class="form-control") }}
        {% for error in form.distance.errors %}
            <small class="form-text text-muted">[{{ error }}]</small>
        {% endfor %}
    </div>
    <button id="save_exercise" class="btn btn-lg btn-primary btn-block" type="submit">Log It!</button>
</form>