{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal">My exercises</h1>
        {% if activities %}
            <div class="table-responsive">
                <table id="activity_list" class="table table-hover table-responsive">
                    <caption>Exercise Log</caption>
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="th-sm">Date</th>
                        <th scope="col" class="th-sm">Type</th>
                        <th scope="col" class="th-lg">Title</th>
                        <th scope="col" class="th-sm">Duration</th>
                        <th scope="col" class="th-sm">Distance</th>
                        <th scope="col" class="th-sm"></th>
                    </tr>
                    </thead>
                    {% for activity in activities %}
                        <tr>
                            <td>{{ moment(activity.timestamp).format('MMMM Do, h:mm') }}</td>
                            <td>{{ activities_lookup[activity.type] }}</td>
                            <td>{{ activity.title }}</td>
                            <td>{{ activity.duration }}</td>
                            <td>{% if activity.distance %}
                                {{ activity.distance | round(2) }}
                                {% endif %}
                            </td>
                            <td> <a id="delete_activity_link" href="{{ url_for('main.delete_activity',activity_id=activity.id) }}"><i
                                        class="fas fa-trash" aria-hidden="true"></i>&nbsp;</a></td>
                        </tr>
                    {% endfor %}
                </table>
    {% endif %}
    </div>
{% endblock %}