{% extends "base.html" %}
{% from "macros.html" import exercise_icon with context %}
{% from "macros.html" import goal_progress_bar with context %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1 class="h3 mb-3 font-weight-normal">Exercises this week</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    {% if sum_by =='duration' %}
                        <a class="nav-link active"
                    {% else %}
                        <a class="nav-link"
                    {% endif %}
                           id="time-tab" href="{{ url_for('main.exercise_log', offset=offset,sum_by='duration') }}"
                           role="tab"
                           aria-controls="time"
                           aria-selected="true">By Time</a>
                </li>
                <li class="nav-item">
                    {% if sum_by =='distance' %}
                        <a class="nav-link active"
                    {% else %}
                        <a class="nav-link"
                    {% endif %}
                           id="distance-tab"
                           href="{{ url_for('main.exercise_log', offset=offset,sum_by='distance') }}" role="tab"
                           aria-controls="distance"
                           aria-selected="false">By Distance</a>
                </li>
            </ul>
            <div class="d-flex justify-content-between">
                <div>
                    {% if offset < 13 %}
                        <a href="{{ url_for('main.exercise_log', offset=offset+1,sum_by=sum_by) }}">
                            <i class="fas fa-chevron-left"></i>
                            Previous
                        </a>
                    {% endif %}
                </div>
                <div>
                    {% if offset <= 13 and offset >0 %}
                        <a href="{{ url_for('main.exercise_log', offset=offset-1,sum_by=sum_by) }}">
                            Next
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
            <canvas id="myChart"></canvas>
            <script>
                Chart.defaults.scale.gridLines.drawOnChartArea = false;

                var ctx = document.getElementById('myChart');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                        datasets: {{ chart_data|safe }}
                    },
                    options: {
                        title: {
                            display: true,
                            {% if sum_by =='distance' %}
                                text: 'Kms: {{ start_week }} - {{ end_week }}'
                            {% else %}
                                text: 'Minutes: {{ start_week }} - {{ end_week }}'
                            {% endif %}
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        responsive: true,
                        scales: {
                            xAxes: [{
                                stacked: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Weekday'
                                }
                            }],
                            yAxes: [{
                                stacked: true,
                                scaleLabel: {
                                    display: true,
                                    {% if sum_by =='distance' %}
                                        labelString: 'Kms'
                                    {% else %}
                                        labelString: 'Mins.'
                                    {% endif %}
                                },
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

            </script>

        </div>
        <div class="col-md-4 mx-auto">
            <h3 class="h3 mb-3 font-weight-normal">My Goals</h3>
            {% for goal in goals %}
                <p class="font-weight-normal">{{ goal.title }}
                    <a id="edit_activity_link" href="{{ url_for('goal.edit_goal',goal_id=goal.id) }}"><i
                            class="fas fa-edit" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
                    <a id="delete_activity_link"
                       href="{{ url_for('goal.delete_goal',goal_id=goal.id) }}"><i
                            class="fas fa-trash" aria-hidden="true"></i></a>
                </p>
                {{ goal_progress_bar("fas fa-bars", "number", goal.frequency, goal.frequency_activity_type, "*",
                goals_percentage_met[loop.index0][0]) }}
                {{ goal_progress_bar("fab fa-algolia", "minutes", goal.duration, goal.duration_activity_type, "mins of",
                goals_percentage_met[loop.index0][1]) }}
                {{ goal_progress_bar("fas fa-flag-checkered", "distance", goal.distance, goal.distance_activity_type, "km",
                goals_percentage_met[loop.index0][2]) }}
            {% endfor %}
            <div style="margin-top: 10px;">
                <p>
                    <a id="set_goal_link" class="btn btn-primary" href="{{ url_for('goal.set_goal') }}">Set goal</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1 class="h3 mb-3 font-weight-normal">My logged exercises</h1>
            {% if activities %}
                <div class="table-responsive">
                <table id="activity_list" class="table table-hover table-responsive">
                    <caption>Exercise Log</caption>
                    <thead class="">
                    <tr>
                        <th scope="col" class="th-sm">Type</th>
                        <th scope="col" class="th-sm">Date</th>
                        <th scope="col" class="th-lg">Title</th>
                        <th scope="col" class="th-sm">Duration</th>
                        <th scope="col" class="th-sm">Distance</th>
                        <th scope="col" class="th-sm"></th>
                    </tr>
                    </thead>
                    {% for activity in activities %}
                        <tr>
                            <td><i class="{{ icons[activity.type] }}" aria-hidden="true"></i></td>

                            <td>{{ moment(activity.timestamp).format('MMM D, h:mm') }}</td>
                            <td>{{ activity.title }}</td>
                            <td>{{ activity.duration }}</td>
                            <td>{% if activity.distance %}
                                {{ activity.distance | round(2) }}
                            {% endif %}
                            </td>
                            <td><a id="delete_activity_link"
                                   href="{{ url_for('main.delete_activity',activity_id=activity.id) }}"><i
                                    class="fas fa-trash" aria-hidden="true"></i>&nbsp;</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}