{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="text-center" >
         <blockquote><p class="mb-0">It is exercise alone that supports the spirits, and keeps the mind in vigor.
         </p><footer class="blockquote-footer">Marcus Tullius Cicero</footer></blockquote>
     </div>
</div>
    <div class="row justify-content-md-center">
        <div class="col col-md-8 mx-auto">
            <h1 class="text-center pb-3">About</h1>
            <p class="text-center pb-3">
                We believe exercise is good. It's good for the mind, body and soul. We want to encourage everyone to
                make exercise a part of their lives.
            </p>
            <hr class="ml-5 mr-5"/>
            <p class="text-center pb-3">
                But exercise is hard. We all lead busy lives. We're not all super heroes with the bodies of Greek Gods.
                We are normal people with jobs, families, commitments, finding it hard to make the time to exercise.
            </p>
            <hr class="ml-5 mr-5"/>
            <p class="text-center pb-3">
                That's why we want to make it easy for you to track your goals and to log your exercises. It makes you
                feel good about yourself as you see the progress you're making week-on-week.
            </p>
            <hr class="ml-5 mr-5"/>
            <p class="text-center pb-3">
                You don't need to join an expensive gym to exercise. In your own time, workout at home on your own or
                follow an instructor online. Be inspired by online sessions recommended by our user community. Bring the
                kids along.
            </p>
            <hr class="ml-5 mr-5"/>
            <p class="text-center pb-3">
                Log My Exercise is here to help you exercise. To inspire, to track, to achieve exercise goals you never thought possible.
            </p>
        </div>
    </div>
{% endblock %}