<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Activity Logger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    <script src="https://kit.fontawesome.com/e6fa600115.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a id="main" class="navbar-brand" href="{{ url_for('main.welcome') }}"> <img style="max-width:40px" src="/static/img/logo_icon_small.png" alt="logo">Log My Exercise</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a id="login_link" class="nav-link" href="{{ url_for('auth.oauth_authorize') }}">Login</a>
                </li>
                 <li class="nav-item">
                    <a id="register_link" class="nav-link" href="{{ url_for('auth.sign_up') }}">Sign Up</a>
                </li>
            {% else %}
                 <li class="nav-item">
                    <a id="home_link" class="nav-link" href="{{ url_for('main.index') }}">Log It!</a>
                </li>
                <li class="nav-item">
                    <a id="my_log_link" class="nav-link" href="{{ url_for('main.exercise_log') }}">My Exercise Log</a>
                </li>
                <li class="nav-item">
                    <a id="regular_activities_link" class="nav-link" href="{{ url_for('main.regular_activities') }}">My Regular Exercises</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user" aria-hidden="true"></i>&nbsp;{{ current_user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a id="profile_link" class="dropdown-item"
                           href="{{ url_for('main.user') }}">Profile</a>
                        <a id="logout_link" class="dropdown-item" href="{{ url_for('auth.logout_new') }}">Logout</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="list-group">
            {% for message in messages %}
                <li class="list-group-item">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
<br>
<hr>
<footer>
    <div class="container">(c) 2020 | <a href="{{ url_for('main.privacy') }}">Privacy Policy</a></div>
</footer>
</html>
