{% from "macros.html" import nav_link with context %}
{% from "macros.html" import add_google_analytics with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="LogMyExercise helps you track your activities"/>
    <meta property="og:image" content="https://logmyexercise.fit/static/img/Titlewithlogo.png"/>
    <meta property="og:url" content="https://logmyexercise.fit/welcome"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description"
          content="Easily track your regular exercise routines. Be inspired by other routines recommended by our community"/>


    <title>Log My Exercise</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/general.css">
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone.js"
            integrity="sha256-dWmHGsnrX5SD7KolfPMFQCt8DoDmkrAONz+rCsChg9E=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone-with-data-2012-2022.min.js"
            integrity="sha256-J3t/BAGqnl57qtjKVL6IipkuPjImp2hkXeiiwNYELLw=" crossorigin="anonymous"></script>


    <script src="https://kit.fontawesome.com/e6fa600115.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


    {{ add_google_analytics() }}

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a id="main" class="navbar-brand" href="{{ url_for('main.welcome') }}"> <img
            src="/static/img/small_circle_profile.png"
            alt="logo">&nbsp;&nbsp;&nbsp;Log My
        Exercise</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        {% if current_user.is_anonymous %}
            <ul class="navbar-nav ml-auto">
                {{ nav_link('main.view_about', 'About', 'about_link','') }}
                {{ nav_link('support.contact_us', 'Contact Us', 'contact_us_link','fas fa-envelope') }}
                {{ nav_link('auth.oauth_authorize', 'Login', 'login_link','') }}
                {{ nav_link('auth.sign_up', 'Sign Up', 'register_link','') }}
            </ul>
        {% else %}
            <ul class="navbar-nav">
                {{ nav_link('main.index', 'Log It!', 'home_link','fas fa-check-double') }}
                {{ nav_link('main.exercise_log', 'My Exercise Log', 'my_log_link','fas fa-clipboard-check') }}
                {{ nav_link('inspires.view_inspirations', 'Inspirations', 'inspires_link','fas fa-heart') }}
                {{ nav_link('main.regular_activities', 'My Regular Exercises', 'regular_activities_link','') }}
            </ul>
            <ul class="navbar-nav ml-auto">
                {{ nav_link('main.view_about', 'About', 'about_link','') }}
                {{ nav_link('support.contact_us', 'Contact Us', 'contact_us_link','fas fa-envelope') }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user" aria-hidden="true"></i>&nbsp;{{ current_user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a id="profile_link" class="dropdown-item"
                           href="{{ url_for('main.user') }}">Profile</a>
                        <a id="logout_link" class="dropdown-item" href="{{ url_for('auth.logout_new') }}">Logout</a>
                    </div>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert"" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="container">
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>


    <footer class="pt-3 my-md-4 pt-md-4 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <a href="{{ url_for('main.welcome') }}"><img class="mb-2 max-height:40px"
                                                             src="/static/img/small_circle_profile.png" alt="logo"></a>
                <small class="d-block mb-3 text-muted">&copy; 2020</small>
            </div>
            <div class="col-6 col-md">
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{{ url_for('main.welcome') }}">Home</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{{ url_for('support.contact_us') }}">Contact Us</a></li>
                    <li><a class="text-muted" href="https://headwayapp.co/logmyexercise-changelog">Change Log</a></li>

                </ul>
            </div>
            <div class="col-6 col-md">
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{{ url_for('support.disclaimer') }}">Disclaimer</a></li>
                    <li><a class="text-muted" href="{{ url_for('support.privacy') }}">Privacy</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
