{% macro nav_link(endpoint, name, link_id, icon) %}
    {% if request.endpoint %}
        {% if request.endpoint.endswith(endpoint) %}
            <li class="nav-item active">
                {% else %}
            <li class="nav-item">
        {% endif %}
    {% else %}
        <li class="nav-item">
    {% endif %}
<a id="{{ link_id }}" class="nav-link" href="{{ url_for(endpoint) }}">
    {% if icon %}
        <i class="{{ icon }} " aria-hidden=true>&nbsp;</i>
    {% endif %}
    {{ name }}
</a></li>
{% endmacro %}
{% macro exercise_icon(activity_type_id) %}
    {% if activity_type_id >-1 %}
        <i class="{{ icons[activity_type_id] }}" aria-hidden="true"></i>
    {% else %}
        <span>Any</span>
    {% endif %}
{% endmacro %}
{% macro goal_progress_bar(measure_icon_style, measure_text, measure_value, measure_activity_type, measure_unit, goal_percentage) %}
    {% if measure_value %}
        <div>
            <div class="d-flex justify-content-between">
                <div class="text-muted small">
                    <i class="{{ measure_icon_style }}" aria-hidden=true></i>
                    {{ measure_text }}
                </div>
                <div class="text-muted small">
                    {{ measure_value }} {{ measure_unit }} {{ exercise_icon(measure_activity_type) }}
                </div>
            </div>
            <div class="progress" >
                <div class="progress-bar" role="progressbar" style="width: {{ goal_percentage }}%"
                     aria-valuenow="{{ goal_percentage }}"
                     aria-valuemin="0"
                     aria-valuemax="100"> <span class="small">{{ goal_percentage }}%</span>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
{% macro add_google_analytics() %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ 'code'|get_os_env('GA_CODE') }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', '{{ 'code'|get_os_env('GA_CODE') }}');
    </script>
{% endmacro %}