{% macro nav_link(endpoint, name, link_id, icon) %}
    {% if request.endpoint %}
        {% if request.endpoint.endswith(endpoint) %}
            <li class="nav-item active">
                {% else %}
            <li class="nav-item">
        {% endif %}
    {% else %}
        <li class="nav-item">
    {% endif %}
<a id="{{ link_id }}" class="nav-link" href="{{ url_for(endpoint) }}">
    {% if icon %}
        <i class="{{ icon }} " aria-hidden=true>&nbsp;</i>
    {% endif %}
    {{ name }}
</a></li>
{% endmacro %}